#title{
    font-family: Phantomsans, sans-serif;
    background-image: linear-gradient(100deg,#eaac0f, #f37d42 50%,#f6db0c);

    padding-top: 50px;
    font-size: 90px;
    display:flex;
    justify-content: space-evenly

}

#sandbag-game{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#scrollDown{
    font-family: Phantomsans, sans-serif;
    padding-right: 150px;
    display: flex;
    justify-content: end;
}

